@import '../../../styles/variables.scss';

.container {
  white-space: nowrap;
}

.container:not(:last-child) {
  border-bottom: 1px solid $border-color;
}

.container:hover .button {
  color: $bg-primary;
  background-color: $color-link;
}

.button {
  background-color: $bg-primary;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 8px 15px;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
}
