@import '../../../styles/variables.scss';

.button {
  background-color: $bg-secondary;
  color: $color-primary;
  border: 1px solid $border-color;
  box-shadow: 1px 1px 2px $shadow-color-light;
  border-radius: 6px;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  padding: 3px 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 20px;
  transition: ease-out 200ms;
  transition-property: color, background-color, border-color;
}

.button:hover {
  background-color: $btn-color-hover;
}

.button:disabled {
  color: $color-muted;
  cursor: not-allowed;
}

.icon {
  margin-right: 4px;
  vertical-align: text-bottom;
  fill: $color-muted;
}
