$bg-primary: #ffffff;
$bg-secondary: #f6f8fa;
$color-primary: #24292f;
$color-muted: #57606a;
$btn-color-hover: #f3f4f6;
$border-color: #d0d7de;
$placeholder-bg: #ababab;
$color-link: #0969da;
$list-border-color: #d8dee4;
$avatar-border-color: rgba(30, 30, 30, 0.15);
$shadow-color-light: rgba(150, 150, 150, 0.15);
