@import '../../../styles/variables.scss';

.container {
  color: $color-muted;
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 15px;
}

.header {
  color: $color-muted;
  min-width: 50px;
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  font-size: 13px;
  font-weight: 600;
  text-align: left;
  border: none;
  outline: none;
}

.menu {
  display: none;
  background-color: $bg-primary;
  border: 1px solid $border-color;
  border-radius: 6px;
  position: absolute;
  top: 49px;
  right: 0;
  min-width: 100%;
  filter: drop-shadow(0px 2px 10px $shadow-color-light);
  overflow: hidden;
  min-width: 200px;
  z-index: 100;
}

.menu.open {
  display: block;
}
