@import '../../styles/variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: $bg-secondary;
  border: 1px solid $border-color;
  border-radius: 6px 6px 0 0;
  margin-bottom: -1px;
}

.actionContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
